@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --dark-blue:hsl(243, 87%, 12%);
    --light-blue-1:hsl(224, 93%, 58%);
    --light-blue-2:hsl(238, 22%, 44%);
    --cyan:hsl(170, 45%, 43%);
    --gray-blue:hsl(240, 75%, 98%);
    --light-gray:hsl(0, 0%, 75%);
    --columns:4;
    --animate-delay: 0.6s;
}
body{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type:none;
}
img{
    display: block;
    width:100%;
    height:100%;
}
button,input,a,
address{
    font-family: inherit;
}
address{
    font-style: normal;
}
h1,h2{
    font-size:2.2rem;
    line-height: 1.7;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap:1rem;
}
nav a{
    padding:0.3rem;
}
nav a:hover{
    border-bottom:0.9px solid var(--cyan);

}
/* grid system -- mobile first! */
.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    --columns: 14;
 }
.item1,
.item2 {
      --width: 14;
      --gap-constant: 0.9%;
      --initialbasis: calc(var(--width, 0) / var(--columns, 14) * 100%);
      --gap: calc((var(--columns, 14) - var(--width, 0)) * var(--gap-constant, 0.3%));
      flex-basis: calc(var(--initialbasis) - var(--gap));

}
header{
    padding:4rem 1rem;
    margin:0 auto 2rem;
}
header img{
    width:100px;
    margin-right: auto;
}
@media(hover:hover){
    .nav li a:hover{
        color:var(--cyan);
        font-weight:800;
    }
}
main{
    display: flex;
	flex-flow: row wrap;
    margin:0 auto;
    gap:8rem;
    padding:1rem;
}
.section-txt-content{
    display:flex;
    flex-direction: column;
    gap:1.6rem;
}
.section--1 .section-txt-content{
    order:2;
}
.section--1 .section-img{
    order:1;
}
.form-group.flex{
   justify-content:center;
   align-items:Center;
   gap:1.6rem;
   margin-bottom:0.5rem;
}
input{
    padding:0.65rem;
    max-width:100%;
    border-radius:5px;
    border:0.5px solid var(--light-gray);
    outline:none;
    width:100%;
    max-width:350px;
    display:inline-block;
}
.form-input{
    position:relative;
}
.errorMsg{
    position:absolute;
    text-align:left;
    top:calc(100%);
    left:0;
    font-size:0.9rem;
    color:red;
}
.btn{
    padding:0.7rem 1.5rem;
    background-color:var(--light-blue-1);
    color:#fff;
    border-radius:5px;
    border:none;
    cursor:pointer;
    transition:all 0.5s;
    max-width:350px;
    width:100%;
}
.btn:hover{
    background-color: hsl(224deg 71.03% 73.33%);
}
/* SECTION 2 */
.section--2{
    margin:2rem 0 0;
    position:relative;
}
.wrapper{
    padding:7rem 0;
}
.section--2 .section-txt-content{
    order:2;
}
.section--2 .description{
    display:flex;
    flex-direction:column;
    align-content:Center;
    gap:1rem;
}
.section--2 .description p,.section--2 .comment{
    text-align:left;
}
.description div .link-text{
    color:var(--cyan);
    display: inline-block;
    padding:0.5rem 0;
    border-bottom:1px solid var(--cyan);
    margin:0 auto;
    margin-bottom:2rem;
    transition:all 0.8s;
}
.description div .link-text:hover{
    color:rgb(114 225 207);
    border-color:rgb(114 225 207);
}
.description div .link-text:hover img{
    filter: brightness(1.3);
}
.description div .link-text img{
    width:25px;
    height:25px;
    display: inline-block;
    margin-bottom:-0.4rem;
    transition:all 0.8s;
}
.comment{
    padding:2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:10px;
    max-width:400px;
    font-family: 'Raleway', sans-serif;
    font-size:0.95rem;
    margin:0 auto;
}
.comment .quote{
    width:20px;
    height:20px;
    margin-bottom:1rem;
}
.user__container{
    display:flex;
    align-items:center;
    gap:1rem;
    margin-top:1rem;
}
.user__container img{
    width:40px;
    height:40px;
    border-radius:50%;
    align-self:center;
}
.user__profession{
    display:block;
    font-size:0.8rem;
}
.pattern-img{
    all:unset;
    object-fit:cover;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
.mobile-img{
    display:block;
}
.desktop-img{
    display:none;
}
/* SECTION 3 */
.section--3{
    background-color:var(--light-blue-2);
}
h3{
    font-size:1.8rem;
}

.cta-wrapper{
    margin:0 auto;
    padding:3rem 1rem;
    color:#fff;
}
.cta-wrapper .item1{
    text-align:center;
}
.cta-wrapper p{
    color:var( --light-gray);
    margin-bottom:2rem;
}
/* footer section */
footer{
    background:var(--dark-blue);
    padding:5rem 2.6rem 2rem;
    color:#fff;
    text-align:left;
}
.footer-container{
    margin:auto;
}
.logo-contaniner img{
    width:150px;
    filter: invert(100%) sepia(18%) saturate(2%) hue-rotate(217deg) brightness(355%) contrast(251%);
    margin-bottom:2rem;
}
.footer-links{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    row-gap:20px;
    padding-top:1rem;
}
address li{
    margin:0 0 0.8rem;
}
address li img{
    width:18px;
    display:inline;
    margin-right:0.5rem;
}
.footer-nav-links ul li{
    margin-bottom:1rem;
}
.social-links{
    align-self:center;
}
.social-links ul{
    display:flex;
    justify-content:center;
    gap:2rem;
}
.social-links ul li a{
    padding:1rem;
    border:1px solid #fff;
    border-radius:50%;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:all 0.5s;
}
footer ul li a:hover{
    color:var(--light-blue-1);
    border-color:var(--light-blue-1);
}
.copyright{
    margin:2rem 0 0;
    font-size:1.1rem;
}
/* Desktop section */
@media(min-width:57.5em){
    header,
    main,.footer-container{
        max-width:80.5em;
    }
    main{
        text-align: left;
    }
    .flex {
        --columns:16;
        justify-content: space-between;
        align-items: flex-start;
    }
    .form-group.flex{
        justify-content:flex-start;
    }
    .errorMsg{
        left:0;
        top:105%;
    }
     input{
        width:360px;
        max-width:100%;
    }
    .btn{
        max-width:180px;
    }
    .item1 {
        --width: 8;
        --gap-constant: 0%;
    }
    .item2 {
        --width:8;
    }
    .section-txt-content p{
        max-width: 510px;
        line-height: 1.6;
    }
    .section--2 .section-txt-content,
    .section--1 .section-txt-content{
        order:1;
    }
    .section--2 .section-img{
        order:2;
    }
    .wrapper{
        padding:10rem 0;
    }
    .mobile-img{
        display:none;
    }
    .desktop-img{
        display:block;
    }
    /* section 2 */
    .description .link-text,
    .comment{
        margin:0;
    }
    .cta-wrapper{
        max-width:90em;
        padding:5rem 3rem;
    }
    .cta-wrapper .item1{
        text-align:left;
    }
    .subscription .form-group.flex{
        flex-direction:column;
        align-items:flex-start;
    }
    /* footer section */
    .social-links ul{
        align-items:flex-start;
        justify-content:flex-start;
    }
    .social-links{
        align-self:start;
    }
}
